body{
    background-color: rgba(156,39,176,1);
    /*background-color: rgba(252,202,3,1);*/
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color:  rgba(255,255,255,1);
    /*color:  rgba(41,45,48,1);*/
    height: 100%;
}

a{
    color:  rgba(255,255,255,0.5);
    font-weight: 100;
}

a:link{
    text-decoration: none;
    font-weight: 400;
}
#container{
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#marquee{
    letter-spacing: 0.25em;
    font-weight: 100;
    font-size: 4em;
    margin-top: 3%;
}

#subMarquee{
    color:  rgba(255,255,255,0.5);
    letter-spacing: 0.15em;
    font-weight: 100;
    font-size: 1.25em;
}

#scope{
    -webkit-filter: blur(80px);
    filter: blur(80px);
    padding: 1.25em;
}

.unBlur{
  -webkit-animation: blur 2.5s linear forwards;
  animation: blur 2.5s linear forwards;
}

.delay {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@keyframes blur {
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    }
}

header, footer{
    background-color: rgba(255,2555,255,0);
    height: 1em;
    padding: 1%;
    width: 98%;
}

header{
    font-size: 1.1em;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    /*color: rgba(252,202,3,1);
    font-size: 0.8em;
    */
    text-align: center;
}